@import "https://fonts.googleapis.com/css?family=Montserrat:400,700";
@import "https://fonts.googleapis.com/css?family=Libre+Baskerville";

html {

  height: 100%;
  font-size: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

*, *::before, *::after {
    -moz-box-sizing: boder-box;
    -webkit-box-sizing: boder-box;
    box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

.column {
      float: left;
  }

  .column.full { width: 100%;}
  .column.two-thirds { width: 66.7%;}
  .column.half { width: 50%;}
  .column.third { width: 33.3%;}
  .column.fourth { width: 6%;}
  .column.flow-opposite { float: right;}

input.search-bar {
  width: 85%;
  height: 90px;
  padding: 10px;
  outline: none;
}

section.thumbnails-container {
  position: relative;
  margin: 0 auto;
}


section.thumbnails-container img {
  display: inline-block;
  width: 100%;
  height: auto:
}

#photos {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 10;
  -webkit-column-gap:   0px;
  -moz-column-count:    10;
  -moz-column-gap:      0px;
  column-count:         10;
  column-gap:           0px;
}


button.search-button {
  width: 15%;
  float: right;
  height: 90px;
  font-size: .6em;
  border: none;
  color: white;
  background-color: #FF6759;
  font-size: .5em;
}

button.search-button:hover {
  background-color: blue;
}

img.modal-image {
  width: 100%;
  height: auto;
}

div.modal-dialog {
  width: 36%;
  height: auto;
}
